/* styles.css */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.container {
    width: 95vw;
    height: 50vw; /* 16:9 비율 유지 */
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 5px; /* 최소한의 패딩 */
}

header {
    text-align: center;
    padding: 5px 0;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
    flex: 0 1 auto;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #333;
}

#datetime {
    font-size: 1.5em;
    color: #555;
    margin-top: 5px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    flex: 1 1 auto;
}

section {
    flex: 1;
    margin: 0 50px;
}

.schedule {
    margin-right: 10px; /* 주요일정과 공지사항 사이에 간격 추가 */
}

section h2 {
    font-size: 2em;
    color: #444;
    margin-bottom: 5px;
    text-align: center;
}

.schedule .day, .announcements .announcement, .announcements .today-schedule {
    flex: 1;
    margin-bottom: 5px;
}

.schedule .day h3, .today-schedule h2 {
    font-size: 1.7em;
    color: #333;
    margin-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    background-color: #f9f9f9;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1.5em; /* 글씨 크기를 더 크게 */
    display: flex;
    align-items: center;
}

#today-schedule-list li {
    font-size: 2.5em; /* 금일 일정의 글씨 크기를 1.8em로 조정 */
}

footer {
    text-align: center;
/*     padding: 3px 0;
    background-color: #f7f7f7;
    border-top: 1px solid #ddd;
    color: #777;
    flex: 0 1 auto; */
}
